.footer
 {
 display: flex;
 flex-direction: column;
 background-color: var(--negro);
 padding: 3rem 0;
 align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 20rem;
}

.correo {
  display: flex;
  align-items: center;
}

.footer__imagen {
  display: flex;
  align-items: center;
}

 
@media (min-width: 1080px) {
  .footer {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  .footer__imagen {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    height: 20rem;
  }
  .correo {
    display: flex;
    align-items: center;
    height: 20rem;
}
}
